/target/
**/target/
/.env.*
!/.env
!.env.example
.DS_Store
.dioxus/
.dioxus-buddy/
/client/dist/
/npm/artifacts/
/npm/platform-packages/
.idea/.gitignore
.idea/aio.iml
.idea/misc.xml
.idea/modules.xml
.idea/problem4ai-exclusions.xml
.idea/vcs.xml
